<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yonsei.cte.mobileprogrammingproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_test"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ZippercloseActivity" />
        <activity android:name=".VelcrocloseActivity" />
        <activity android:name=".StudcloseActivity" />
        <activity android:name=".DdbtncloseActivity" />
        <activity android:name=".BtncloseActivity" />
        <activity android:name=".CloseoropenActivity" />
        <activity android:name=".ZipperActivity" />
        <activity android:name=".VelcroActivity" />
        <activity android:name=".StudActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".DdbtnActivity" />
        <activity android:name=".BtnActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Login">
        </activity>
        <activity android:name=".CreateAccount"></activity>
        <activity android:name=".ProfileActivity"></activity>
    </application>

</manifest>